@charset "utf-8";
/* 프로모션 */
.promotion .inner {
    position: relative;
}
.promotion .section-top {
  display: none;
}
.sw-promotion a {
  border-radius: 13px;
  overflow: hidden;
}
.sw-promotion a img {
  width: 100%;
}
/* pagination */
.sw-promotion-control{
  position: relative;
  text-align: center;
  display: none;
  height: 23px;
}
.sw-promotion-pg{
  height: 100%;
  margin-top: 10px;
  /* background-color: black; */
}
.swiper-pagination-bullet{
  background-color: #333;
  border-radius: 0;
}
.swiper-pagination-bullet-active{
  width: 30px;
  background-color: #333;
}